/* GLOBAL STYLES */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  line-height: 1.5;
  margin: 7.5vh 25vw;
}
section {
  margin: 15px 0;
}
a {
  color: #337AB7;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.math {
  margin: 5vh 0;
  text-align: center;
}
p {
  font-size: 20px;
}

/* HOMEPAGE STYLES */

/* TITLE */
.home-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3vh;
  text-align: center;
}
.home-photo {
  border-radius: 100px;
  height: 200px;
  margin-bottom: 2em;
  width: 200px;
}
.home-heading {
  font-size: 34px;
  font-weight: normal;
  margin: 0;
}
.home-subheading {
  color: #777;
  font-size: 18px;
  font-style: italic;
  margin: 5px 0 10px 0;
}
.social-icons {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: space-around;
  margin: 15px;
}
.icon {
  height: 35px;
  width: 35px;
}
.icon:hover {
  opacity: 0.7;
}
#email-div {
  color: #444;
}

/* PROJECTS */
.project-container {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  gap: 15px;
  margin: 0px;
  padding: 20px 0px 20px 0px;
}
.project-container:last-child {
  border-bottom: none;
}
.project-container img {
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
.project-container p,
.project-container a {
  font-size: 18px;
}

/* RECENT POSTS */
.blog {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-header {
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  width: 100%;
}
.recent-posts > h2 {
  padding: 0;
  margin: 0;
}
.see-all {
  margin-bottom: 1.5px;
}
.post-list {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  width: 100%;
}
.post-list ul {
  margin: 0;
  padding: 0;
}
.post-list li {
  list-style: none;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post-list li .post-meta {
  color: #555;
  font-size: 14px;
}


/* INDIVIDUAL BLOG POST STYLES */
.heading {
  border-bottom: 1px solid #ccc;
  margin: 1.5vh 0;
}
.sub-menu {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 16px;
  justify-content: space-between;
  margin: 0;
  padding-top: 5px;
  width: 100%;
}
.posting-date {
  color: #888;
}
.nav-links {
  display: flex;
  gap: 1.5vw;
}
.posting-date p,
.nav-links a {
  font-size: 16px;
}
.center {
  border: 1px solid #888;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #ccc;
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    line-height: 1.5;
    margin: 2.5vh 2.5vw;
  }
}