/* GLOBAL STYLES */
body {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  line-height: 1.5;
  margin: 12.5vh 22.5vw;
}
a {
  color: rgb(51, 122, 183);
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.math {
  text-align: center;
  margin: 5vh 0;
}
p {
  font-size: 20px;
}

/* HOMEPAGE STYLES */
.home-title {
  display: inline-block;
  margin: 1.5vh 0;
  text-align: center;
}
.blog {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post-header {
  align-items: center;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  width: 100%;
}
.recent-posts > h2 {
  padding: 0;
  margin: 0;
}
.post-list {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  width: 100%;
}
.post-list li {
  list-style: none;
  margin: 15px 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* BLOG POST STYLES */
.heading {
  border-bottom: 1px solid #cccccc;
  margin: 1.5vh 0;
}
.sub-menu {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 16px;
  justify-content: space-between;
  margin: 0;
  padding-top: 5px;
  width: 100%;
}

.posting-date {
  color: #888888;
}
.nav-links {
  display: flex;
  gap: 1.5vw;
}
.posting-date p,
.nav-links a {
  font-size: 16px;
}
.footer {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #cccccc;
}